// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic-row{
  padding: 15px;
  margin: 15px;
  border: 1px solid black;
  border-radius: 10px;
}

.topic-row:hover {
  background-color: #99D4E8;
  cursor: pointer;
}

.topic-title {

}

.topic-creation-date {
  float: right;
}

.topic-owner {
  float: right;
  padding-right: 20px;
}
